
.runConsole{
	border: #0B97C4 solid 2px;padding: 15px;
}
#runHistory {
	width: 45%;display: inline-block;padding-left: 20px;
	height: 155px;
	overflow-y: auto;
	border-left: dotted black 1px;
}
#runHistory > p {
	margin: 0;
	border-bottom: 1px black solid;
	padding: 6px 0;
	cursor: pointer;
}